* {
    margin: 0;
    padding: 0;
}

#title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 1em;
}

#lists{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}
.movie-list {
    border: 2px solid black;
    width: 30%;
    height: 500px;
    border-radius: 10px;
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.add-movie {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 3em;
    border: 2px solid black;
}

.add-movie button{
    width: 90%;
    height: 20%;
}

.movie {
    height: 45%;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 3em;
    border: 2px solid black;
}

.movie p {
    writing-mode: vertical-rl;
}
