* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 1em;
}

#instructions {
    text-align: center;
    margin-top: 0.5em;
}

#list-title {
    border: none;
    font-size: 2em;
    text-align: center;
}

#list-title:hover {
    border: 2px solid black;
    background-color: lightgray;
}

#lists{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}
.movie-list {
    border: 2px solid black;
    width: 30%;
    height: fit-content;
    border-radius: 10px;
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.add-movie {
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 3em;
    border: 2px solid black;
}

.add-movie button{
    width: 90%;
    height: 20%;
}

.random-picker {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 3em;
    border: 2px solid black;
}

.picker-button {
    width: 90%;
    height: 20%;
    cursor: pointer;
}

.movie {
    height: 250px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    width: 3em;
    border: 2px solid black;
    cursor: move;
}

.movie.dragging {
    pointer-events: none;
}

.add-button{
    cursor: pointer;
}

.movie-title {
    transform: rotate(90deg);
    font-size: 1em;
    border: none;
    text-align: left;
    width: fit-content;
}

.movie-title:hover{
    border: 2px solid black;
    background-color: lightgray;
}

#list-names {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
}

#list-names h3 {
    width: 30%;
    text-align: center;
    font-size: 2em;
}

.remove-button {
    width: 100%;
    height: 15%;
}


#trash.movie-list {
    width: 95%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 2em;
    overflow: hidden;
}

